<div class="scrolling-banner">
    <div class="banner-content">
      <div class="banner-item" *ngFor="let item of bannerItems">
        {{ item }}
      </div>
    </div>
  </div>
<mat-card class="container">
 <mat-tab-group>
  <mat-tab label="LAWND || Communications">
    <ng-template mat-tab-label>
      <img src="assets/LAWNDLOGO.png" alt="LAWND Logo" class="tab-icon"> LAWND || Communications
    </ng-template>
<mat-card-title>Entrepreneurship </mat-card-title>
<br/>
<mat-card>
LAWND Comunications entertainment consulting 
<img class="image" src="assets/LAWNDLOGO.png" alt="Icon"><br/>
LAWND Communication LLC is a consulting firm dedicated to servicing the entertainment and corporate industries. Specializing in film, music, nonprofit, and entertainment sectors, LAWND offers comprehensive marketing and branding services. Their expertise includes graphic design, fundraisers, event management, and more. Established in 2019, LAWND Communication LLC continues to deliver innovative solutions to meet industry demands.
<br/>
services
example of work
</mat-card>
</mat-tab >
<mat-tab label="Yekize Essentials">
  <ng-template mat-tab-label>
    <img src="assets/YekizeLogo.jpg" alt="LAWND Logo" class="tab-icon"> LAWND || Communications
  </ng-template>
<mat-card>
Yekize Essentials Wellness

<app-yekize></app-yekize>
</mat-card>
</mat-tab>
</mat-tab-group>
</mat-card>