.scrolling-banner {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .banner-content {
    display: inline-block;
    animation: scroll-left 20s linear infinite;
  }
  
  .banner-item {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items */
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .container{
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw; 
  
  }

  .image{
    height: 100px;
    width: 100px;
  }
  
  .tab-icon {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    margin-right: 8px; /* Optional: Add space between icon and label */
  }

  .grey{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px; /* Gap between items */
    padding: 20px; /* Padding around the grid */
    max-width: 1200px; /* Limit maximum width of the dashboard */
    margin: 0 auto; 
    height:300px;
    width:300px;
  }
  
  
.product-container {
  display: flex;
  justify-content: center; /* Center align items horizontally */
  gap: 20px; /* Space between cards */
  padding: 20px;
}

.product-card {
  width: 300px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  border-radius: 8px;
  /*background: linear-gradient(145deg, #f0f0f0, #dcdcdc); /* Grey gradient background */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition */
}
