<div class="scrolling-banner">
    <div class="banner-content">
      <div class="banner-item" *ngFor="let item of bannerItems">
        {{ item }}
      </div>
    </div>
  </div>
<mat-card class="container">
 <mat-tab-group>
  <mat-tab label="LAWND || Communications">
<mat-card-title>Entrepreneurship </mat-card-title>
<br/>
<mat-card>
LAWND Comunications entertainment consulting 
<img class="image" src="assets/LAWNDLOGO.png" alt="Icon"><br/>
consultin entertaiment corporate
events joshua morgan day etc
</mat-card>
</mat-tab >
<mat-tab label="Yekize Essentials">
<mat-card>
Yekize Essentials Wellness

<app-yekize></app-yekize>
</mat-card>
</mat-tab>
</mat-tab-group>
</mat-card>