.compliance-report {
    width: 100%;
    max-width: 97%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 25px;
  }
  
  .compliance-report h2 {
    text-align: center;
    color: #444;
    margin-bottom: 25px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 15px;
    text-align: left;
  }
  
  table th {
    background-color: #3f51b5;
    color: white;
    font-size: 15px;
  }
  
  table tr:nth-child(even) {
    background-color: #f4f4f4;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #444;
  }
  
  table td.critical {
    color: #ff1744;
    font-weight: bold;
  }
  
  table td.high {
    color: #ff8000;
    font-weight: bold;
  }
  
  table td.medium {
    color: #eaa903;
    font-weight: bold;
  }
  
  table td.low {
    color: #00e676;
    font-weight: bold;
  }
  
  table td.pending {
    color: #d32f2f;
    font-weight: bold;
  }
  
  table td.in-progress {
    color: #fbc02d;
    font-weight: bold;
  }
  
  table td.completed {
    color: #388e3c;
    font-weight: bold;
  }
  