/* Container styles */
.container {
  max-height: 99%;
  width: 97vw;
  overflow: hidden; /* Hide overflow */
  overflow-x: hidden;

}

/* Flex container for dashboard metrics */
.dashboard-metrics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
  overflow: hidden; /* Prevent overflow within this container */
}

/* Individual dashboard card styles */
.dashboard-card {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  background-color: #3c3c3c;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: hidden; /* Hide overflow within cards */
  display: flex;
  flex-direction: column;
}

/* Chart container styles */
.chart {
  height: 200px; /* Fixed height */
  width: 100%; /* Full width of parent container */
}

/* Ensure all text and elements do not exceed their container */
.mat-card-content p,
.mat-card-content b {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-form-field {
  width: 100%; /* Ensure the form field takes full width */
}

.fSize{
  font-size: smaller;
  color:rgb(129, 129, 129);
}
