<h1 class="right" mat-dialog-title>{{ data.id ? 'Edit Incident' : 'New Incident' }}</h1>
<div mat-dialog-content class="dialog-container">
  <form class="dialog-form" [formGroup]="incidentForm">

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

   
    <mat-form-field>
      <mat-label>Severity</mat-label>
      <mat-select formControlName="severity">
        <mat-option *ngFor="let severity of severityLevels" [value]="severity">{{ severity }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusLevels" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions class="dialog-form">
  <button class="sButton" mat-button color="warn" (click)="onCancel()">Cancel</button> &nbsp;
  <button class="sButton" mat-raised-button (click)="onSave()">Save</button>
  <br/>
  <br/>
</div>
