<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="dialog-content">
  <img [src]="data.image" alt="{{ data.title }} cover image" class="movie-cover">
  <p>{{ data.description }}</p>
  <video *ngIf="data.videoUrl" [src]="data.videoUrl" controls class="movie-trailer"></video>
</mat-dialog-content>
<br/>
<mat-card-content>
&nbsp; <button mat-raised-button><a mat-button color="primary" [href]="data.imdbLink" target="_blank">Watch</a></button>
</mat-card-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>
