<h2 mat-dialog-title><b>{{ data.title }}</b></h2>
<mat-dialog-content class="dialog-content">
  <img *ngIf="data.image" [src]="data.image" alt="{{ data.title }} cover image" class="movie-cover">
  <p><mat-card-subtitle><b>Description</b></mat-card-subtitle> {{ data.description }}</p>
  <p><mat-card-subtitle><b>Credits</b></mat-card-subtitle> <b>LaDonia Wicks-</b> {{ data.credits }}</p>
  <video *ngIf="data.videoUrl" [src]="data.videoUrl" controls class="movie-trailer"></video>
</mat-dialog-content>
<br/>
<mat-card-content>
&nbsp; <a mat-raised-button  [href]="data.imdbLink" target="_blank">Watch</a>
</mat-card-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>
