<mat-card>
  <div class="scrolling-banner">
    <div class="banner-content">
      <div class="banner-item" *ngFor="let imageUrl of images">
        <img [src]="imageUrl" alt="Banner Image">
      </div>
    </div>
  </div>

<div class="container">
  <!--div class="sidebar">
    <h2>Navigation</h2>
    <ul>
      <li *ngFor="let item of navigationItems" (click)="selectItem(item)">
        {{ item }}
      </li>
    </ul>
  </div-->

  <div class="content">
    <mat-grid-list cols="3" rowHeight="3:3" gutterSize="16px">

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Innovative Concepts</mat-card-title>
            <mat-divider></mat-divider>
          </mat-card-header>
          <mat-card-content class="example-card-content">
            <img (click)="navigateToInnovative()" class="image" src="assets/ICLogo.png" alt="Icon">
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>The Difference Society</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img (click)="navigateToDifference()" class="image" src="assets/DifferenceSocietyLogo.webp" alt="Icon">
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Charlotes Web</mat-card-title>
          </mat-card-header>
          <mat-card-content class="example-card-content">
          
              <img (click)="navigateToCW()" class="image" src="assets/CWLogo.png" alt="Icon">
             
          
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>






  
