.table {
    width: 100vw;
  }

  .scrolling-banner {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .banner-content {
    display: inline-block;
    animation: scroll-left 20s linear infinite;
  }
  
  .banner-item {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items */
  }
  
  .banner-item img {
    width: 100px; /* Adjust image size as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure images are block elements */
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  