<div class="banner">
  <div class="background-container">
    <div class="shape-three"></div>
    <div class="background"></div>
    <div class="texture-overlay"></div>
    <div class="shape-one"></div>
    <div class="shape-two"></div>
    <div class="shape-four"></div>
  </div>
  
  <div class="icons-container">
    <img src="assets/CWLogo.png" alt="Icon 1" class="moving-icon">
    <img src="assets/tdsLogo.png" alt="Icon 2" class="moving-icon">
    <img src="assets/ICTLogo.png" alt="Icon 3" class="moving-icon">
  </div>

  <div class="banner-content">
    <div class="welcome-text">
      <h1><b>It Takes A Village</b></h1>
      <p>Welcome! We are deeply grateful for the opportunity to contribute pro bono work to various nonprofit organizations. 
        In tribute to their remarkable efforts and the unwavering commitment of those who founded these nonprofits,
        click on the icons below to explore how we partnered with these organizations and learn more about their impactful work. Your support helps sustain the spirit of giving back and making a meaningful difference.</p>
    </div>
  </div>

    
  <div class="icons-container">
    <img src="assets/CWLogo.png" alt="Icon 1" class="Smoving-icon">
    <img src="assets/tdsLogo.png" alt="Icon 2" class="Smoving-icon">
    <img src="assets/ICTLogo.png" alt="Icon 3" class="Smoving-icon">
  </div>

</div>




<div class="container">
  <div class="product-container">
    <div class="product-card" *ngFor="let product of nonprofit$ | async; let i = index" [class.center]="i < 3">
      <mat-card class="full-card">
        <img (click)="navigateToPage(product.id)" mat-card-image [src]="product.imageUrl" alt="Product Image" class="product-image">
      </mat-card>
    </div>
  </div>
</div> 
 



