<div class="welcome-banner">
  <div class="welcome-image">
    <img src="assets/certs.png" alt="Welcome Image">
  </div>
  <div class="welcome-text">
    <h1>Welcome to Our Site</h1>
    <p>We are delighted to have you here. Explore our site to learn more about our offerings and services. Whether you are looking for information on our latest projects or seeking to get in touch, we are here to help. Feel free to navigate through and enjoy your visit!</p>
  </div>
</div>


<div class="container">
  <div class="product-container">
    <div class="product-card" *ngFor="let product of nonprofit$ | async; let i = index" [class.center]="i < 3">
      <mat-card class="full-card">
        <img (click)="navigateToPage(product.id)" mat-card-image [src]="product.imageUrl" alt="Product Image" class="product-image">
      </mat-card>
    </div>
  </div>
</div> 
 


  
