<div class="full">
  <div class="homepage">
    <header>
      <nav>
        <ul>
          <li><a (click)="navigateToSection('innovative-section1')">About Us</a></li>
          <li><a (click)="navigateToSection('innovative-section2')">Our Services</a></li>
          <li><a (click)="navigateToSection('innovative-section3')">Work History</a></li>
          <li><a (click)="navigateToSection('innovative-section4')">Security and Compliance</a></li>
        </ul>
      </nav>
    </header>

    <div class="banner">
      <h1>Welcome to the Innovative Concepts <img  class ="icon" src="assets/ICTLogo.png"> </h1>
      
    </div>

    <main>
      <section id="innovative-section1" class="section">
        <div class="section-content">
          <h2>About Us</h2>
          <img src="assets/icS.png" alt="Section 1 Image" class="responsive-img">
          <p>Innovative Concepts is a dedicated 501(c)(3) nonprofit organization established in 2008, committed to enhancing the quality of life for disabled adults in the District of Columbia.
            We proudly partner with the Department on Disability Services (DDS) to provide community based housing, eliminating employment barriers
            rn hance employability skills, and provide person centered planning and develop neccesary supports to maintain individual career and personal goals.</p>
        </div>
      </section>

      <section id="innovative-section2" class="section">
        <div class="section-content">
          <h2>Our Services</h2>
          <div class="services-list">
            <p *ngFor="let service of services">
              <mat-icon>{{ service.icon }}</mat-icon> 
              {{ service.name }}
            </p>
          </div>
        </div>
      </section>
      

      <section id="innovative-section3" class="section">
        <div class="section-content">
          <h2>Work History</h2>
             My first expience with compliance we must stay compiant every year for various services
      <p>QIDP</p>
      <p>pcr ppr department of healthcare finance Department on Disability Services Developmental Disability Administration</p>
      <p>hrc human Rights Committee The DC Coalition of Providers for Persons with Intellectual and other Disabilities.</p>    
    </div>
      </section>

      <section id="innovative-section4" class="section">
        <div class="section-content">
          <h2>Security and Compliance</h2>
          <div class="section-inner">
            <video class="responsive-video" autoplay muted loop playsinline>
              <source src="assets/icSec.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="text-content">
              <ul class="bullet-list">
                <li>Security Aspect: Regulatory Compliance</li>
                <li>Different departments work with</li>
                <li>Annual certification</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      
      
      
    </main>

    <footer>
      <p>&copy; 2024 Innovative Page. All rights reserved.</p>
    </footer>
  </div>
</div>
