<div class="full">
  <div class="homepage">
    <header>
      <nav>
        <ul>
          <li><a (click)="navigateToSection('innovative-section1')">About Us</a></li>
          <li><a (click)="navigateToSection('innovative-section2')">Our Services</a></li>
          <li><a (click)="navigateToSection('innovative-section3')">Work History</a></li>
          <li><a (click)="navigateToSection('innovative-section4')">Security and Compliance</a></li>
        </ul>
      </nav>
    </header>

    <div class="banner">
      <h1>Welcome to the Innovative Concepts  </h1>
      
    </div>

    <main>
    
          <img id="innovative-section1"  src="assets/icS.png" alt="Section 1 Image" class="responsive-img"> 
      <br/>

      <section id="innovative-section2" class="section">
        <div class="section-content">
          <h2>Our Services</h2>
          <div class="services-list">
            <p *ngFor="let service of services">
              <mat-icon>{{ service.icon }}</mat-icon> 
              {{ service.name }}
            </p>
          </div>
        </div>
      </section>
      

      <section id="innovative-section3" class="section">
        <div class="section-content">
          <h2>Work History</h2>
        <p class="aLeft">

          In my role, maintaining compliance was paramount to ensure the continued provision of our services. We adhered to an annual review process, including the PCR (Provider Certification Review) and PPR (Provider Performance Review), conducted by the Department of Healthcare Finance and the Department on Disability Services, Developmental Disabilities Administration. These reviews were essential to ensure that our operations remained in line with established policies and expectations. Although the formal review occurred annually, we diligently prepared throughout the year to meet the rigorous standards required for compliance. This process was both critical and meticulous, requiring constant attention to detail.

As a Qualified Intellectual Disabilities Professional (QIDP), I was responsible for incident management and held a Level 2 Incident Management Coordinator certification. In this capacity, I ensured that all incidents were reported and resolved in accordance with regulatory requirements. Additionally, I organized quarterly reviews with the Human Rights Committee (HRC) and collaborated with The DC Coalition of Providers for Persons with Intellectual and Other Disabilities.

Given the sensitive nature of our work with individuals with disabilities, it was crucial that all documentation was securely maintained and readily available for audits or inquiries. We strictly adhered to various compliance standards, including HIPAA for protecting patient information and PCI DSS for secure handling of payment information, among others. These measures were integral to our commitment to upholding the highest standards of security and compliance.
        </p>
    </div>
      </section>

      <section id="innovative-section4" class="section">
        <div class="section-content">
          <h2>Security and Compliance</h2>
          <div class="section-inner">
            <!--video class="responsive-video" autoplay muted loop playsinline>
              <source src="assets/icSec.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video-->
            <div class="text-content">
              <ul class="bullet-list">
                
                <li>PPR: Provider Performance Review</li>
                <li>PCR: Provider Ceritfication Review</li>
                <li>HIPPA: Health Insurance Portaibility and Accountability Act</li>
                <li>DHCF: Department of Health Care Finance</li>

              </ul>
            </div>
          </div>
        </div>
      </section>
      
      
      
    </main>

    <footer>
      <p>&copy; 2024 Innovative Page. All rights reserved.</p>
    </footer>
  </div>
</div>
