<div class="full">
  <div class="homepage">
    <header>
      <nav>
        <ul>
          <li><a (click)="navigateToSection('innovative-section1')">About Us</a></li>
          <li><a (click)="navigateToSection('innovative-section2')">Our Services</a></li>
          <li><a (click)="navigateToSection('innovative-section3')">Work History</a></li>
          <li><a (click)="navigateToSection('innovative-section4')">Security and Compliance</a></li>
        </ul>
      </nav>
    </header>

    <div class="banner">
      <h1>Welcome to the Innovative Page</h1>
      
    </div>

    <main>
      <section id="innovative-section1" class="section">
        <div class="section-content">
          <h2>About Us</h2>
          <img src="assets/section1-image.jpg" alt="Section 1 Image" class="responsive-img">
          <p>Innovative Concepts is a dedicated 501(c)(3) nonprofit organization established in 2008, committed to enhancing the quality of life for disabled adults in the District of Columbia.
            We proudly partner with the Department on Disability Services (DDS) to provide vital residential support services, ensuring that our community members receive the care and assistance they need to lead fulfilling and independent lives.</p>
        </div>
      </section>

      <section id="innovative-section2" class="section">
        <div class="section-content">
          <h2>Our Services</h2>
          <img src="assets/section2-image.jpg" alt="Section 2 Image" class="responsive-img">
          <p>Details about Section 2...</p>
        </div>
      </section>

      <section id="innovative-section3" class="section">
        <div class="section-content">
          <h2>Work History</h2>
          <img src="assets/section3-image.jpg" alt="Section 3 Image" class="responsive-img">
             
      <p>Program Director</p>
      <p>pcr ppr department of healthcare finance Department on Disability Services Developmental Disability Administration</p>
      <p>hrc human Rights Committee The DC Coalition of Providers for Persons with Intellectual and other Disabilities.</p>    
    </div>
      </section>

      <section id="innovative-section4" class="section">
        <div class="section-content">
          <h2>Security and Compliance</h2>
          <img src="assets/section4-image.jpg" alt="Section 4 Image" class="responsive-img">
          <p>Security Aspect: Regulatory Compliance, Different departments work with, annual certification</p>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Innovative Page. All rights reserved.</p>
    </footer>
  </div>
</div>
