<div class="banner">
  <img [src]="images[currentImageIndex]" alt="Banner Image">
  <div class="controls">
    <button (click)="prevImage()"><mat-icon>arrow_back</mat-icon></button>
    <button (click)="nextImage()"><mat-icon>arrow_forward</mat-icon></button>
  </div>
</div>

<br/>


  <mat-grid-list cols="2" rowHeight="2:1"> 
    <mat-grid-tile>
      <mat-card class="full">
        <mat-card-title> <b> <mat-icon>library_music</mat-icon> Entertainment</b> </mat-card-title>
        <mat-card-content>
          
            <br/>
    <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title class="mat-title">
             Soul World Entertainment   
            </mat-panel-title>
            <mat-panel-description class="mat-description">
              Executive Assistant
            </mat-panel-description>
          </mat-expansion-panel-header>
         
          <p>I'm visible becauseijhuuuuuuuuuuuuuuuuuuu</p>
          <img src="assets/SWLogo.webp" alt="Icon" class="icon">
        </mat-expansion-panel>
    <br/>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="mat-title">
                Capitol Public Relation 
            </mat-panel-title>
            <mat-panel-description class="mat-description2">
              Executive Assistant
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
          <img src="assets/CPRLogo.webp" alt="Icon" class="icon">
        </mat-expansion-panel>
        <br/>
        
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="mat-title">
              LAW || ND Communications
          </mat-panel-title>
          <mat-panel-description class="mat-description3">
            Production Consulting
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
        <img src="assets/LAWNDLOGO.png" alt="Icon" class="icon">
      </mat-expansion-panel>
    
      </mat-accordion>
        
        </mat-card-content>
        <br/>
        
      
        <br/>
    </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="full">
        <mat-card-title> <b> <mat-icon>movie</mat-icon>Movies</b> </mat-card-title>
              <mat-card-content>
        <br/>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Dem Gibson Films  
              </mat-panel-title>
              <mat-panel-description>
                Production Assistant
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
            <img style="background-color: black;"src="assets/GibsonLogo.webp" alt="Icon" class="icon">
          </mat-expansion-panel>
          <br/>
        
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Octet Productions 
                </mat-panel-title>
                <mat-panel-description>
                  Public Relations Assistant
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
              <img src="assets/OctetLogo.png" alt="Icon" class="icon">
            </mat-expansion-panel>
        <br/>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Octet Productions  
              </mat-panel-title>
              <mat-panel-description>
                Assistant Location Manager
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
            <img src="assets/OctetLogo.png" alt="Icon" class="icon">
          </mat-expansion-panel>
        <br/>
              
              </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

 <mat-card class="mat-card">
  <mat-card-content class="movie-card">
<mat-card-title><b>Movies</b></mat-card-title>
<button class="menu-button" mat-button [matMenuTriggerFor]="menu">
  <mat-icon>movie</mat-icon>
</button>

<mat-menu class="mat-menu-panel" #menu="matMenu">
  <button mat-menu-item (click)="openMovieDialog('Christmas Lottery', 'When a family wins the lottery but loses the winning ticket, they must put aside their differences to find the ticket that could change their lives by Christmas Day.', 'https://www.imdb.com/title/tt13403782/','assets/CL.png','')">Christmas Lottery</button>
  <button mat-menu-item (click)="openMovieDialog('Delrhonda Hood: Big Fifty', 'Delrhonda Big Fifty Hood ends up running her own drug empire, becoming one of the wealthiest and most notorious women in Detroit. In the process, with her success, she discovers that money does not fix all of her problems, and she can only depend on herself if she wants to stay one step ahead of the law and stay alive.', 'https://www.imdb.com/title/tt15364098/?ref_=nv_sr_srsg_0_tt_6_nm_2_in_0_q_delrhonda','assets/BigFifty.jpg', '')">Delrhonda Hood: Big Fifty</button>
  <button mat-menu-item (click)="openMovieDialog('A Wesley Christmas', 'Sibling adults Chris, Todd, and Cydney Wesley all go to their childhood home in Washington, DC, to celebrate the Christmas vacation with their parents Bryan and Sylvia and the entire Wesley family.', 'https://www.imdb.com/title/tt17500912/?ref_=nv_sr_srsg_0_tt_5_nm_3_in_0_q_a%2520wesly%2520ch','assets/WeslyChristmas.jpg','')">A Wesley Christmas</button>
  <button mat-menu-item (click)="openMovieDialog('A Wesley Christmas Wedding', 'Siblings Chris, Todd, Cydney and Wesley travel to their childhood home in Washington to celebrate Christmas holidays with their parents Bryan and Sylvia. Upon their arrival, all kinds of family drama, a crazy neighbor and conflicts happen.', 'https://www.imdb.com/title/tt23638608/?ref_=nv_sr_srsg_0_tt_2_nm_0_in_0_q_wesly%2520christmas%2520wedd', 'assets/WeslyCW.jpg','')">A Wesley Christmas Wedding</button>
  <button mat-menu-item (click)="openMovieDialog('Kismet Holiday', 'Set against a magical Christmas Eve backdrop, two strangers find love, only to be separated, but when fate reunites them five years later, the question arises if this is a mere coincidence or a sign of destined love.', 'https://www.imdb.com/title/tt25433684/?ref_=fn_al_tt_1', 'assets/kismet.png','')">Kismet Holiday</button>
</mat-menu>

  &nbsp;&nbsp;
  <mat-card-title><b>Series</b></mat-card-title>
  <button class="menu-button" mat-button [matMenuTriggerFor]="menu2"><mat-icon>movie</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
  <button mat-menu-item (click)="openMovieDialog('Hush', 'Follow relationship fixer Dr. Draya Logan, a renowned marriage and sex therapist who finds herself entangled in a series of lies, sex, and murder that could cost her everything.', 'https://www.imdb.com/title/tt20195430/?ref_=tt_mv_close','https://firebasestorage.googleapis.com/v0/b/pwa5-89c3b.appspot.com/o/hush.jpg?alt=media&token=7d0a9f69-d9c7-4790-a6d6-91198255e356','')">Hush</button>
  <button mat-menu-item (click)="openMovieDialog('Conspirator', '', '','','https://www.youtube.com/watch?v=qeaP8jWMo74&list=PPSV')">Conspirators</button>
  </mat-menu>
  &nbsp; &nbsp;
<mat-card-title><b>IMDb</b></mat-card-title> &nbsp;

  <a href="https://www.imdb.com/name/nm12907760/" target="_blank"><mat-icon class="icons">storage</mat-icon></a>

  </mat-card-content>
</mat-card>

<br/>
<div class="scrolling-banner">
  <div class="banner-content">
    <div class="banner-item" *ngFor="let image of imageUrls">
      <img [src]="image" alt="Banner Image">
    </div>
  </div>
</div>

    