<mat-sidenav-container class="sidenav-container" [ngClass]="{'entertainment-page': isEntertainmentPage}">
  <!-- Side nav -->
  <mat-sidenav #sidenav class="body" mode="side">
    <mat-nav-list>
      <a mat-list-item class="content" routerLink="/" routerLinkActive="active">
        <mat-icon class="icon">home</mat-icon><strong class="icon">&nbsp;Home</strong>
      </a>
      <br/>
      <ng-container *ngFor="let item of navItems">
        <a mat-list-item class="content" [routerLink]="item.route" routerLinkActive="active">
          <mat-icon class="icon">{{item.icon}}</mat-icon><strong class="icon">&nbsp; {{item.title}}</strong>
        </a>
        <br/>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content area -->
  <mat-sidenav-content>
    <!-- Toggle button for sidenav -->
    <div class="logo-container">
      <mat-icon class="raised" mat-icon-button (click)="toggleSidenav()" [ngClass]="{'entertainment-menu-button': isEntertainmentPage}">menu</mat-icon>
      <mat-toolbar [ngClass]="{'entertainment-toolbar': isEntertainmentPage, 'default-toolbar': !isEntertainmentPage}">
        <span class="page-title"> <b>{{ pageTitle }} </b></span>
        <img *ngIf="isComputerSciencePage" src="assets/Logo.jpg" alt="McNair Hall" class="toolbar-icon">
        <!--button id="installButton" mat-raised-button color="primary" class="install-button">Install App</button-->
      </mat-toolbar>
    </div>

    <!-- Add other page content here as needed -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

