<mat-sidenav-container  class="sidenav-container">
  <!-- Side nav -->
  <mat-sidenav #sidenav class="body" mode="side">
    <mat-nav-list>
      <a mat-list-item class="content" routerLink="/" routerLinkActive="active">
        <mat-icon class="icon">home</mat-icon> Home
      </a>
      <br/>
      <a mat-list-item class="content" routerLink="/computer-science" routerLinkActive="active">
        <mat-icon class="icon">laptop</mat-icon> Computer Science
      </a>
      <br/>
      <a mat-list-item class="content" routerLink="/entertainment" routerLinkActive="active">
        <mat-icon class="icon">movies</mat-icon> Entertainment
      </a>
      <br/>
      <a mat-list-item class="content" routerLink="/nonprofit" routerLinkActive="active">
        <mat-icon class="icon">volunteer_activism</mat-icon> Nonprofit
      </a>
      <br/>
      <a mat-list-item class="content" routerLink="/entrepreneurship" routerLinkActive="active">
        <mat-icon class="icon">emoji_events</mat-icon> Entrepreneurship
      </a>
      <br/>
      <a mat-list-item class="content" routerLink="/cybersecurity" routerLinkActive="active">
        <mat-icon class="icon">security</mat-icon> Cybersecurity
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content area -->
  <mat-sidenav-content>
    <!-- Toggle button for sidenav -->
     <div class="logo-container">
    <button class="raised" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu </mat-icon>
    </button>
    <div class="logo-container" *ngIf="isComputerSciencePage">
      <mat-toolbar> Computer Science <img src="assets/Logo.jpg" alt="McNair Hall"></mat-toolbar>
    </div>

    <div class="logo-container" *ngIf="isEntertainmentPage">
      <mat-toolbar>Entertainment </mat-toolbar>
    </div>
  
    <div class="logo-container" *ngIf="isEntrepreneurshipPage">
      <mat-toolbar>Entrepreneurship</mat-toolbar>
    </div>

    <div class="logo-container" *ngIf="isNonprofitPage">
      <mat-toolbar>Nonprofit </mat-toolbar>
    </div>

    <div class="logo-container" *ngIf="isCybersecurityPage">
      <mat-toolbar>Cybersecurity </mat-toolbar>
    </div>

    <div class="logo-container" *ngIf="isYekizePage">
      <mat-toolbar>Yekize Essentials  <img src="assets/YekizeLogo.jpg" alt="Yekize Essentials Logo"></mat-toolbar>
    </div>

    <div class="logo-container" *ngIf="isLAWNDPage">
      <mat-toolbar>LAW || ND Communications <img src="assets/LAWNDLOGO.png" alt="LAW || ND Communications Logo"></mat-toolbar>
    </div>

    </div>
    <!-- Router outlet for dynamic component rendering -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
