.cert-cover {
    width: 100%;
    max-height: 10vh;
    max-width: 10vw; /* You can adjust the max-width as needed */
    align-items: left;
    align-content: left;
    border-radius: 8px;
  }

  .dialoag-content{
    color:rgb(37, 37, 37);
    font-size: smaller;
  }
