<div class="container">
<img *ngIf="data.image" [src]="data.image" alt="{{ data.title }} cover image" class="cert-cover">
<h5 mat-dialog-title><b>{{ data.title }}</b></h5>
<mat-dialog-content class="dialog-content">
  <p><mat-card-subtitle><b>Completion Date:</b></mat-card-subtitle>{{ data.date }}</p>
  <p><mat-card-subtitle><b>Certification Description:</b></mat-card-subtitle><span class="dialog-content">{{ data.description }}</span></p>
  <p><mat-card-subtitle><b>Status:</b></mat-card-subtitle>{{data.status}} 
</mat-dialog-content>
<br/>
<mat-card-content>

</mat-card-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>
</div>