<div class="container">
<div class="banner">
  <div class="banner-content">
    <div class="circle-image">
      <img src="assets/LAWNDLOGO.png" alt="Circle LOGO">
    </div>
    <div class="text-content">
      <h1>Established 2019</h1>
      <p class="black">LAWND Communication LLC is a consulting firm dedicated to servicing the entertainment and corporate industries. 
        Specializing in film, music, nonprofit, and entertainment sectors, LAWND offers comprehensive marketing and branding services. Their expertise includes graphic design, fundraisers, event management, and more.
         Established in 2019, LAWND Communication LLC continues to deliver innovative solutions to meet industry demands.</p>
    </div>
  </div>
</div>

<mat-card>

<br/>

<div class="dashboard-container">

<mat-card class="dashboard-item" (click)="openEntDialog('Branding & Marketing Service','At LAWND || Communication, we offer specialized branding and marketing services tailored to the nonprofit, entertainment, and corporate industries. For nonprofits, we focus on creating compelling brand identities, campaign strategies, and content that authentically tells your story. In the entertainment industry, we enhance talent branding, manage social media, and launch digital marketing campaigns to captivate audiences. For corporate clients, we develop strong brand identities, market positioning strategies, and content marketing solutions to elevate your business visibility and reputation. Our comprehensive services are designed to meet the unique needs of each industry, ensuring impactful and results-driven outcomes.')">
    <mat-card-header>
      <mat-card-title>Branding & Marketing</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/YEC.jpg" alt="Nonprofit">
    <mat-card-content>
      <p>Learn more about Branding and Marketing Services </p>
    </mat-card-content>
</mat-card>

<mat-card class="dashboard-item" (click)="openEntDialog('Event Production','At LAWND || Communication, our event production services are tailored to create unforgettable experiences across various industries. We specialize in customizing events to match the unique needs of each client, whether its a glamorous red carpet affair, a meaningful fundraiser, or an elegant seated dinner. Our team ensures every detail is meticulously planned and executed, bringing your vision to life with precision and creativity.')">
  <mat-card-header>
    <mat-card-title>Event Production</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/EPPI.png" alt="Nonprofit">
  <mat-card-content>
    <p>Learn more about Event Production Services.</p>
  </mat-card-content>
 </mat-card>

<mat-card class="dashboard-item" (click)="openEntDialog('Production Consulting','LAWND || Communication offers comprehensive production consulting services designed to support your project from concept to completion. Our offerings include location management services, ensuring the perfect backdrop for your production; graphic and digital art to enhance visual appeal; and meticulous call sheet production coordination services to keep everything on track. We provide the expertise and resources needed to bring your creative vision to life with professionalism and flair.')">
  <mat-card-header>
    <mat-card-title>Production Consulting</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/PCI.png" alt="Nonprofit">
  <mat-card-content>
    <p>Learn more about Production Consulting Services.</p>
  </mat-card-content>
</mat-card>

<mat-card class="dashboard-item" (click)="openEntDialog('Crisis Management','
LAWND || Communication provides top-tier crisis management services, tailored to meet the unique challenges of each client. Whether you need one-time support to navigate a difficult issue or periodic and annual evaluations to ensure ongoing preparedness, we offer the expertise and strategic guidance to protect your reputation and assets. Our approach is designed to compete with the industrys leading crisis management firms, delivering solutions that safeguard your organizations future and help you emerge stronger from any challenge.')">
  <mat-card-header>
    <mat-card-title>Crisis Management</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/CrMI.png" alt="Nonprofit">
  <mat-card-content>
    <p>Learn more about Crisis Mangement Services.</p>
  </mat-card-content>
</mat-card>

</div>
<br/>


<h2 class="center"><b >Previous Projects</b></h2>
<div class="slideshow-container">
 
  <div class="image-container" #scrollContainer>
    <div class="product-image" *ngFor="let product of teaProducts$ | async">
      <img [src]="product.imageUrl" alt="Product Image" class="product-image">
    </div>
  </div>

 
</div>

</mat-card>
<br/>
<br/>
<br/>
<br/>
<div class="stats-container">
  <div class="stat" *ngFor="let stat of stats" #statElement>
    <div class="stat-value">0</div>
    <div class="stat-label">{{ stat.label }}</div>
  </div>
</div>
<br/>

<div class="contact-us-container">
  <h3 class="lAlign"><b>Interested in scheduling a consultation</b></h3>
    <h2>Contact Us</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="name" required>
        <div *ngIf="name?.invalid && (name!.dirty || name!.touched)" class="error">
          <div *ngIf="name!.errors?.['required']">Name is required.</div>
        </div>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" required>
        <div *ngIf="email?.invalid && (email!.dirty || email!.touched)" class="error">
          <div *ngIf="email!.errors?.['required']">Email is required.</div>
          <div *ngIf="email!.errors?.['email']">Email must be a valid email address.</div>
        </div>
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" formControlName="message" required></textarea>
        <div *ngIf="message?.invalid && (message!.dirty || message!.touched)" class="error">
          <div *ngIf="message!.errors?.['required']">Message is required.</div>
        </div>
      </div>
      <button type="submit" [disabled]="contactForm.invalid">Submit</button>
    </form>
    <div *ngIf="formSubmitted" class="confirmation">
      <p>Thank you for your inquiry! We will get back to you soon.</p>
    </div>
  </div>
  </div>
  
  
  