<div class="container">
<div class="banner">
  <div class="banner-content">
    <div class="circle-image">
      <img src="assets/LAWNDLOGO.png" alt="Circle LOGO">
    </div>
    <div class="text-content">
      <h1>Established 2019</h1>
      <p class="black">LAWND Communication LLC is a consulting firm dedicated to servicing the entertainment and corporate industries. 
        Specializing in film, music, nonprofit, and entertainment sectors, LAWND offers comprehensive marketing and branding services. Their expertise includes graphic design, fundraisers, event management, and more.
         Established in 2019, LAWND Communication LLC continues to deliver innovative solutions to meet industry demands.</p>
    </div>
  </div>
</div>

<mat-card>

<br/>

<div class="dashboard-container">

<mat-card class="dashboard-item">
    <mat-card-header>
      <mat-card-title><b>Branding & Marketing</b></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/YEC.jpg" alt="Nonprofit">
    <mat-card-content>
      <p>Learn more about branding and marketing </p>
    </mat-card-content>
</mat-card>

<mat-card class="dashboard-item">
  <mat-card-header>
    <mat-card-title><b>Event Production</b></mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/nonprofit.jpg" alt="Nonprofit">
  <mat-card-content>
    <p>Learn more about Event Production.</p>
  </mat-card-content>
 </mat-card>

<mat-card class="dashboard-item">
  <mat-card-header>
    <mat-card-title><b>Production Consulting</b></mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/nonprofit.jpg" alt="Nonprofit">
  <mat-card-content>
    <p>Learn more about production consulting.</p>
  </mat-card-content>
</mat-card>

<mat-card class="dashboard-item">
  <mat-card-header>
    <mat-card-title><b>Crisis Management</b></mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/nonprofit.jpg" alt="Nonprofit">
  <mat-card-content>
    <p>Learn more about crisis mangement.</p>
  </mat-card-content>
</mat-card>

</div>
<br/>
<mat-card class="card">
<mat-card-title> Previous Projects  </mat-card-title>
<div class="slideshow-container">
  <div class="arrow left" (click)="previousImage()">
    <mat-icon>arrow_back</mat-icon>
  </div>

  <div class="image-container">
    <div class="product-image" *ngFor="let product of teaProducts$ | async">
      <img [src]="product.imageUrl" alt="Product Image" class="product-image">
      </div>
  </div>

  <div class="arrow right" (click)="nextImage()">
    <mat-icon>arrow_forward</mat-icon>
  </div>
</div>
</mat-card>

</mat-card>

<br/>


<div class="contact-us-container">
  <h3 class="lAlign"><b>Interested in scheduling a consultation</b></h3>
    <h2>Contact Us</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="name" required>
        <div *ngIf="name?.invalid && (name!.dirty || name!.touched)" class="error">
          <div *ngIf="name!.errors?.['required']">Name is required.</div>
        </div>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" required>
        <div *ngIf="email?.invalid && (email!.dirty || email!.touched)" class="error">
          <div *ngIf="email!.errors?.['required']">Email is required.</div>
          <div *ngIf="email!.errors?.['email']">Email must be a valid email address.</div>
        </div>
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" formControlName="message" required></textarea>
        <div *ngIf="message?.invalid && (message!.dirty || message!.touched)" class="error">
          <div *ngIf="message!.errors?.['required']">Message is required.</div>
        </div>
      </div>
      <button type="submit" [disabled]="contactForm.invalid">Submit</button>
    </form>
    <div *ngIf="formSubmitted" class="confirmation">
      <p>Thank you for your inquiry! We will get back to you soon.</p>
    </div>
  </div>
  </div>
  
  
  