<div class="container">
    <div class="welcome-container">
    <div class="mid-banner">
        <div class="mid-banner-content">
          <h2>Welcome to Charlotte's Web</h2>
          <p><b>Charlotte's Web Enrichment Center, Inc. is a 501(c)3 non-profit organization.</b> We are established to aid in the care for seniors, provide an outreach, structure and growth to the youth through our boxing and mentoring program.</p>
          <br/>
          <p>We believe that our community is responsible for providing the necessary tools to enhance the lives of the youth and seniors. Through our programs, we will prepare our youth to be  productive and positive young adults and we are committed to further improve the quality of life to our seniors.</p>
        </div>
        <img src="assets/CWEB.jpg" alt="Mid Banner" class="mid-banner-image">
      </div>

    

<!-- Welcome Card -->
<mat-card class="welcome-card">
    <mat-card-content>
      <h2><b>Our Services</b></h2>
      <p>Learn more about Charlotte's Web, our history, and our commitment to serving the community. We strive to create a positive impact through our various programs and initiatives.</p>
      <div class="dashboard-container">
    
        <mat-card class="dashboard-item">
          <mat-card-header>
            <mat-card-title><b>Mentoring</b></mat-card-title>
          </mat-card-header>
          <img class="dashboard-img" mat-card-image src="assets/boxing.jpg" alt="Nonprofit">
          <mat-card-content>
            <p>Learn more about our mentoring initiatives.</p>
          </mat-card-content>
          
        </mat-card>
      
        <mat-card class="dashboard-item">
          <mat-card-header>
            <mat-card-title><b>Furniture Donations</b></mat-card-title>
          </mat-card-header>
          <img class="dashboard-img" mat-card-image src="assets/furn.jpg" alt="Entertainment">
          <mat-card-content>
            <p>Discover the latest in furniture donation.</p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="dashboard-item">
          <mat-card-header>
            <mat-card-title><b>Community Service</b></mat-card-title>
          </mat-card-header>
          <img class="dashboard-img" mat-card-image src="assets/Community.jpg" alt="Computer Science">
          <mat-card-content>
            <p>Explore advancements in community service.</p>
          </mat-card-content>
        </mat-card>
  
      </div>
    
    </mat-card-content>
  </mat-card>

  <!-- Existing cw section -->
<section id="cw-section">
  <!-- Other content of the cw section -->
      
        <!-- Banner Section 1 -->
        <div class="banner-section">
          <div class="banner-text">
            <h2><b>LAWND || Communication</b> Thread </h2>
            <p>donated graphics art work etc</p>
            
            <br/>
            <mat-card-title>Social Media Marketing</mat-card-title>
             <div class=" Pdashboard-container">
                <mat-card  class="Pdashboard-item">
                  <img mat-card-image class="Pdashboard-img" src="assets/flyer1.png" alt="Nonprofit">
                    <br/>
                </mat-card>

                <mat-card  class="Pdashboard-item">
                  <img mat-card-image class="Pdashboard-img" src="assets/flyer1.png" alt="Nonprofit">
                </mat-card>

              <mat-card  class="Pdashboard-item">
                <img mat-card-image class="Pdashboard-img" src="assets/flyer1.png" alt="Nonprofit">
                  <br/>
              </mat-card>

              <mat-card  class="Pdashboard-item">
                <img mat-card-image class="Pdashboard-img" src="assets/flyer1.png" alt="Nonprofit">
              </mat-card>

              <mat-card  class="Pdashboard-item">
                <img mat-card-image class="Pdashboard-img" src="assets/flyer1.png" alt="Nonprofit">
              </mat-card>
              </div>

                <br/>
                <mat-card-title><b>Video</b></mat-card-title>
                <br/>
                <div class="video-container">
                  <!-- Video Player -->
                  <video #mainVideo controls>
                    <source [attr.src]="selectedVideoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                
                  <!-- Playlist -->
                  <div class="playlist">
                    <ul>
                      <li *ngFor="let video of videos$ | async">
                        <a (click)="playVideo(video.url)" href="javascript:void(0);">{{ video.title }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
          
        </div>
        </div>
</section>
        
<br/>
       <!-- Donate Section -->
       <mat-card class="header-card">
        <br/>
        <mat-card-title > <b> DONATE NOW </b></mat-card-title>
        <mat-card-subtitle> <b> Be a thread in our web our support! </b></mat-card-subtitle>
      </mat-card>


</div>