/* Ensure the sidenav container takes full height */
.sidenav-container {
  height: 100vh;
  display: flex;
}

/* Side nav styles */
.sidenav {
  width: 250px;
  background-color: aliceblue;; /* Transparent background */
  color: #f0f0f0; /* Light text color */
  border-radius: 0;
}

/* Sidenav item styles */
.sidenav .mat-list-item {
  color: #f0f0f0;
}

.sidenav .mat-list-item.active-link {
  background-color: #3c3c3c; /* Highlighted item color */
}

/* Content area styles */
.content {
  padding: 20px;
  flex: 1;
}

/* Toolbar styles */
.mat-toolbar {
  color: #101010; /* Light text color */
}

/* Dashboard metrics styles */
.dashboard-metrics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-card {
  width: calc(33% - 20px);
  background-color: #3c3c3c; /* Dark grey card background */
  color: #f0f0f0; /* Light text color */
  margin: 0;
  padding: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rButton {
  margin-left: auto;
  background-color: #2d2d2d;
  color:white;
  border-radius: 10%;
  height:30px;
  width:70px;
}

.gButton{
  background-color: #2d2d2d;
  color:white;
}
