<mat-sidenav-container class="sidenav-container">
  <!-- Side nav -->
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active-link">
        <mat-icon class="icon">home</mat-icon>
        <span class="test"><b> &nbsp;Dashboard</b></span>
      </a>
      <a mat-list-item routerLink="vulnerability-report" routerLinkActive="active-link">
        <mat-icon>security</mat-icon>
        <span><b>&nbsp;Vulnerability Scanning</b></span>
      </a>
      <a mat-list-item routerLink="compliance-report" routerLinkActive="active-link">
        <mat-icon>verified_user</mat-icon>
        <span><b>&nbsp;Compliance</b></span>
      </a>
      <a mat-list-item routerLink="incident-response" routerLinkActive="active-link">
        <mat-icon>report_problem</mat-icon>
        <span><b>&nbsp;Incident Response</b></span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content area -->
  <mat-sidenav-content class="content">
    <!-- Toolbar -->
    <mat-toolbar>
      <button class="gButton" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>&nbsp; <b>Security & Compliance Monitor</b></span>
      <span class="spacer"></span>
      <button mat-button class="rButton" (click)="logout()">LOGOUT</button>
    </mat-toolbar>

    <!-- Router outlet for dynamic content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

