
<!-- discussion-board.component.html -->

<mat-card>
    <mat-card-header>
      <mat-card-title>Discussion Board</mat-card-title>
      <br/>
      What advice would you give to someone starting a career in cybersecurity?
      <br/> What skills and certifications are most valuable in the current job market?
      <mat-card-subtitle>Name</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form #postForm="ngForm" (ngSubmit)="addPost(postForm)">
            <input name="title" ngModel required>
            <mat-card-subtitle>Post</mat-card-subtitle>
            <textarea name="content" ngModel required></textarea> <br/>
            <button mat-raised label="Post" type="submit">Add Post</button>
          </form>          
      <hr>
      <div *ngFor="let post of posts">
        <h3 >{{ post.title }}</h3>
        <p >{{ post.content }}</p>
        <hr>
      </div>
    </mat-card-content>
  </mat-card>
  