
.post {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced box shadow for 3D effect */
    background: linear-gradient(145deg, #f0f0f0, #dcdcdc); /* Grey gradient */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transform and shadow */
  }

  .card {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 10px 12px rgba(1, 1, 1, 0.1); /* Enhanced box shadow for 3D effect */
    background: linear-gradient(145deg, #939393, #dcdcdc); /* Grey gradient */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transform and shadow */
  }

  .button{
    background-color: #2e2e2e;
    color:white;
  }

  
  