.test{
  background-color: red;
}

.card {
  box-shadow: 0px 10px 12px rgba(1, 1, 1, 0.1); /* Enhanced box shadow for 3D effect */
  background: linear-gradient(190deg,#242424, #2e2e2e83, #242424da); /* Grey gradient */
  overflow: hidden; 
  box-shadow: 0 6px 12px rgba(57, 57, 57, 0.1); /* Enhanced box shadow for 3D effect */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transform and shadow */
  width: 100vw;
}

.post {
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced box shadow for 3D effect */
  background-color: ( #303030); /* Grey gradient */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transform and shadow */
  width: 85%;
  height: auto;
  outline-color: #ffffff;
  outline-width: 15px;
  overflow: hidden;
  padding: 10px; /* Added padding for better spacing */
}

.posts {
  background-color: #939393; /* Light grey for post section */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);  
}

.button {
  background-color: #2e2e2e;
  color: white;
  margin-bottom: -2%;
  border-radius: 5%;
}

.white {
  color: whitesmoke;
}

.text-area {
  width: 400px; /* Adjust width as needed */
  height: 70px; /* Let the height adjust based on content */
  min-height: 50px; /* Set a minimum height to prevent it from shrinking */
  resize: none; /* Disable resizing by user */
}

.reply-area {
  width: 75%;
  height: 50px; /* Adjust height to make it smaller */
  min-height: 20px;
  resize: none;  
}

.likes {
  margin-bottom: -2%;
}

.reply-areas {
  background: rgb(206, 205, 205);
}

.reply {
  margin-left: 20px;
  width: 75%;
  height: auto;
}

.heart-icon {
  color: red;
  margin-bottom: -2%;
}

.postReply {
  width: 15px;
  height: 50px;
}

.dashboard-item {
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced box shadow for 3D effect */
  background: linear-gradient(145deg, #050505, #dcdcdc); /* Grey gradient */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transform and shadow */
}

.post-date, .reply-date {
  font-size: 0.8em;
  color: rgb(33, 32, 32);
  text-align: right;
}

.reply-form {
  margin-left: 20px; /* Indent the reply form */
}

