
.post {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced box shadow for 3D effect */
    background-color: linear-gradient(145deg, #f0f0f0, #dcdcdc); /* Grey gradient */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transform and shadow */
    width:85%;
    height:auto;
    outline-color: #2e2e2e;
    outline-width: 5px;;
    overflow: hidden;
}

.posts{
  background-color: #939393;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}


  .card {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 10px 12px rgba(1, 1, 1, 0.1); /* Enhanced box shadow for 3D effect */
    background-color: linear-gradient(145deg, #939393, #dcdcdc); /* Grey gradient */
    overflow: hidden; 
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 6px 12px rgba(57, 57, 57, 0.1); /* Enhanced box shadow for 3D effect */
    background: linear-gradient(145deg, #616161, #dcdcdc); /* Grey gradient */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transform and shadow */
    
}

  .button{
    background-color: #2e2e2e;
    color:white;
    margin-bottom: -2%;
  }

  .white{
    color:whitesmoke;
  }

  .text-area {
    width: 400px; /* Adjust width as needed */
    height: 70px;; /* Let the height adjust based on content */
    min-height: 50px; /* Set a minimum height to prevent it from shrinking */
    resize: none; /* Disable resizing by user */
  }
  
  .reply-area {
    width: 75%;
    height: auto;
    min-height: 50px;
    resize: none;  
  }

  .likes{
    margin-bottom: -2%;
  }
  
  .reply-areas{
    background:rgb(206, 205, 205);
  }
  
  .reply {
    margin-left: 20px;
    width: 75%;
    height:auto;
  }

  .heart-icon{
    color:red;
    margin-bottom: -2%;
  }

  .postReply{
    width:15px;
    height: 50px;
  }

  .dashboard-item {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced box shadow for 3D effect */
    background: linear-gradient(145deg, #616161, #dcdcdc); /* Grey gradient */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transform and shadow */
  }