 <div class="container">
  <div>
    <div class="video">
      <video autoplay muted loop class="background-video">
        <source src="/assets/ciso.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

<br/>

    <div class="features">
      <h2>Features</h2> 
      <div class="feature-cards">
        <mat-card class="g-card"  *ngFor="let feature of features">
          <mat-card-header>
            <mat-card-title>{{ feature.title }}</mat-card-title> &nbsp;
            <mat-icon>{{ feature.icon }}</mat-icon>
          </mat-card-header>
        
            <img [src]="feature.image" alt="{{ feature.title }} image">
         <br/>
          <mat-card-content>
            <p class="left"> <b>{{ feature.description }} </b></p>
          </mat-card-content>
          <mat-card-actions>
         &nbsp;   <button class="button" mat-raised-button color="primary" [routerLink]="feature.route"><b> EXPLORE </b></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    
    
    
    <div class="updates">
      <h2>Latest Updates</h2>
      <div class="update-list">
        <mat-card *ngFor="let update of updates">
          <mat-card-header>
            <mat-card-title>{{ update.title }}</mat-card-title>
            <mat-card-subtitle>{{ update.date | date }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ update.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    
    <footer class="footer">
      <div class="footer-content">
        <p> <b> &copy; 2024 LAW || ND Communications. All rights reserved.</b></p>
      </div>
    </footer>
  

  </div>
