 <div class="container"></div>
  <div>
    <div class="hero">
      <div class="hero-content">
        <h1>Welcome to Our App</h1>
        <p>Discover Journey to Chief Information Security Officer</p>
      </div>
    </div>
    Journey to Chief Information Security Officer
    Bio about me all certs brief outline of history to thisnow expplore more of my journey
    <div class="features">
      <h2>Features</h2>
      <div class="feature-cards">
        <mat-card class="g-card"  *ngFor="let feature of features">
          <mat-card-header>
            <mat-card-title>{{ feature.title }}</mat-card-title> &nbsp;
            <mat-icon>{{ feature.icon }}</mat-icon>
          </mat-card-header>
        
            <img [src]="feature.image" alt="{{ feature.title }} image">
         
          <mat-card-content>
            <p>{{ feature.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button class="button" mat-raised-button color="primary" [routerLink]="feature.route">Explore</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    
    
    
    <div class="updates">
      <h2>Latest Updates</h2>
      <div class="update-list">
        <mat-card *ngFor="let update of updates">
          <mat-card-header>
            <mat-card-title>{{ update.title }}</mat-card-title>
            <mat-card-subtitle>{{ update.date | date }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ update.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="testimonials">
      <h2>Testimonials</h2>
      <div class="testimonial-cards">
        <mat-card *ngFor="let testimonial of testimonials">
          <mat-card-header>
            <mat-card-title>{{ testimonial.name }}</mat-card-title>
            <mat-card-subtitle>{{ testimonial.position }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>"{{ testimonial.message }}"</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-content">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
        <div class="social-media">
          <a href="#" aria-label="Facebook"><mat-icon>facebook</mat-icon></a>
          <a href="#" aria-label="Website"><mat-icon>twitter</mat-icon></a>
          <a href="#" aria-label="Instagram"><mat-icon>instagram</mat-icon></a>
        </div>
      </div>
    </footer>
  

  </div>
