   Journey to Chief Information Security Officer
   Bio about me all certs brief outline of history to thisnow expplore more of my journey


  <mat-divider></mat-divider>
  
<mat-card class="container">
    <mat-card-title>Journey to Chief Information Security Officer</mat-card-title>
    <mat-card-subtitle>The best way out is thru </mat-card-subtitle>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>Computer Science</mat-grid-tile>
        <mat-grid-tile><app-entertainment></app-entertainment></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile><app-entrepreneurship></app-entrepreneurship></mat-grid-tile>
        <mat-grid-tile><app-cybersecurity></app-cybersecurity></mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
</mat-card>