.container {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.intro {
  background-color: #080808;
  color: white;
  padding: 80px 20px;
  text-align: center;
  max-width: 100vw;
  overflow: hidden;
}

.main-content {
  max-width: 100vw;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 2em;
  color: #333333;
  margin-bottom: 20px;
}

.section-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-content img {
  max-width: 25%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 20px 0;
  max-width: 100vw;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-item {
  flex: 1 1 calc(20% - 20px);
  box-sizing: border-box;
  background: linear-gradient(145deg, #1a1a1a, #d6d6d6, #333333, #1a1a1a);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  height: 500px;
}

.dashboard-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(to bottom, white rgba(55, 54, 54, 0.3), rgba(255, 255, 255, 0));
  border-radius: 8px;
  z-index: 1;
  pointer-events: none;
}

.dashboard-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8), 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 2;
  pointer-events: none;
}

.mat-card-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  z-index: 0;
}

.dashboard-img {
  min-height: 45vh;
  max-height: 15vh;
}

.banner-image {
  width: auto;
  height: 50px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  align-content: center;
 
}

.Sbanner {
  position: absolute;
  left: 0;
  top: 40;
  width: 100%;
  height: 65px;
  max-width: 100vw;
  background: linear-gradient(145deg, #1a1a1a, #a8a8a8, #1a1a1a, #333333, #1a1a1a, #333333, #333333, #1a1a1a, #d6d6d6);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em 0;
  transition: left 1.5s ease-in-out;
  overflow: hidden;
}

.Sbanner.show {
  left: 0;
}

mat-vertical-stepper {
  background-color: white;
  padding: 20px;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
 
}

mat-step-header {
  color: #ffffff;
  font-weight: bold;
}

mat-horizontal-stepper {
  background-color: white;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon .mat-icon {
  display: none;
  background-color: #1a1a1b;
}

::ng-deep .mat-vertical-stepper-header .mat-step-icon .mat-icon {
  display: none;
  background-color: #1c1c1c;
  color: whitesmoke;
}

.stepper {
  background-color: #252525f9;
  color: white;
  border-radius: 10%;
  height:30px;
  width:60px;

}

.Wstepper {
  color: white;
}

.grey {
  color: #d6d6d6;
}

.link{
  color:#2f2f2f;
  
}

.middle{
  width:100vw;
  min-width:100vw;
  overflow-x:hidden;
  background-color: #1a1a1b;
}