<div class="scrolling-banner">
  <div class="banner-content">
    <div class="banner-item" style="background-image: url('assets/VCap.jpeg');"></div>
    <div class="banner-item" style="background-image: url('path-to-your-image2.jpg');"></div>
    <div class="banner-item" style="background-image: url('path-to-your-image3.jpg');"></div>
    <div class="banner-item" style="background-image: url('path-to-your-image4.jpg');"></div>
  </div>
</div>

<h2><b> &nbsp; Shop Products</b></h2><br/>
<div class="product-container">
  <div class="product-item" *ngFor="let product of teaProducts$ | async">
    <img [src]="product.imageUrl" alt="Product Image" class="product-image">
    <div class="product-details">
      <h4>{{ product.name }}</h4>
      <p>Price: {{ product.price | currency }}</p>
      <button class="button"  mat-raised-button (click)="addToCart(product) ">ADD</button>
    </div>
  </div>
</div>

<!-- Shopping Cart Icon with Badge -->
<div class="shopping-cart-icon" (click)="toggleCart()">
  <mat-icon>shopping_cart</mat-icon>
  <span class="cart-count">{{ cartItems.length }}</span>
</div>

<!-- Checkout Panel Overlay -->
<div class="checkout-panel" *ngIf="isCartOpen">
  <h4>Shopping Cart</h4>
  <ul>
    <li *ngFor="let item of cartItems">
      {{ item.name }} - {{ item.price | currency }}
      <button mat-raised-button class="button" (click)="removeFromCart(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
  <div>
    <h4>Total: {{ getTotal() | currency }}</h4>
    <button mat-raised-button (click)="checkout()">CHECKOUT</button>
  </div>

  <!-- Confirmation Modal -->
  <div class="confirmation-modal" *ngIf="confirmingCheckout">
    <h4>Confirm Order</h4>
    <ul>
      <li *ngFor="let item of cartItems">
        {{ item.name }} - {{ item.price | currency }}
      </li>
    </ul>
    <p>Total: {{ getTotal() | currency }}</p>
    <p>Are you sure you want to place this order?</p>
    <button mat-raised-button (click)="placeOrder()">ORDER</button>
    <button mat-raised-button (click)="cancelCheckout()">CANCEL</button>
  </div>
</div>


<br/>






  
  